input[type='text'] {
  width: clamp(200px, 25vw, 350px);
}

.inputStyling {
  padding: 0 5px;
}

.ui.button.buttonStyling {
  background-color: blue;
  color: white;
}

.inputContainer {
  display: flex;
  flex-direction: row;
}

.errorStyling {
  color: red;
  font-style: italic;
}

@media (max-width: 500px) {
  form {
    display: flex;
    flex-direction: column;
  }

  .inputStyling {
    padding-bottom: 5px;
  }
}
